html, body {
  margin: 0;
  height: 100%;
  font-family: Tahoma, sans-serif;
}

/* Begin Kevin */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.playground-frame {
  display: flex;
  flex-direction: column;
}

.playground-header {
  display: flex;
  flex-direction: row;
  background: rgb(30, 148, 73);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}

.playground-header a {
  font-size: 20px;
}

.playground-content-area {
  display: flex;
  flex-direction: column;
}

.playground-main-row {
  display: flex;
  flex-direction: row;
}

.playground-input-box, .playground-tab-pane {
  display: flex;
  flex-grow: 1;
}

.playground-input-box {
  flex-direction: column;
}

.playground-tab-pane {
  display: flex;
  flex-direction: column;
}

.playground-monaco-host {
  display: flex;
}

.playground-tab-pane-buttons {
  display: flex;
  flex-direction: row;
}

.playground-monaco-placeholder {
  display: flex;
  flex-grow: 1;
}
/* End Kevin */

.doc-heading {
  color: #2F5496;
  font-size: 24px;
  font-weight: 400;
}

.doc-table {
  border-collapse: collapse;
}

.doc-table th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 2px solid #e0e0e0
}

.doc-fenced-code {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 3px;
}

.doc-code-span {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 2pt;
  border: 1px solid #ccc;
  padding: 1pt;
}
